@model MovimientoModel

@if (ViewBag.movimientos != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Nombre de Articulo
                </th>
                <th>
                    Id de tipo de movimiento
                </th>
                <th>
                    Nombre de tipo de movimiento
                </th>
                <th>
                    Signo de tipo de movimiento
                </th>
                <th>
                    Fecha
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movimiento in ViewBag.movimientos)
            {
                <tr>
                    <td>
                        @movimiento.Articulo.Nombre
                    </td>
                    <td>
                        @movimiento.TipoMovimiento.Id
                    </td>
                    <td>
                        @movimiento.TipoMovimiento.Nombre
                    </td>
                    <td>
                        @movimiento.TipoMovimiento.Signo
                    </td>
                    <td>
                        @movimiento.Fecha
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex">

        <form method="post" action="~/Consultas/Previous">
            <input type="submit" value="Anterior" class="">
        </form>
        <form method="post" action="~/Consultas/Next">
            <input type="submit" value="Siguiente" class="mx-3"/>
        </form>
        
    </div>
}
@if (ViewBag.mensaje != null)
{
    <div class="text-center alert-success p-3">
        @ViewBag.mensaje
    </div>
}
@if (ViewBag.mensajeError != null)
{
    <div class="text-center alert-danger p-3">
        @ViewBag.mensajeError
    </div>
}
<div class="text-center">
    <p class="text-center">Pagina: @ViewBag.paginado</p>
</div>

<div>
    <a asp-controller="Consultas" class="btn btn-danger" asp-action="Index">Volver atras</a>
</div>  